*{ 
  border-radius: 0 !important;
  font-family: 'Inconsolata', monospace;
} 
.titleImage {
	display: flex;
  	height: 100vh;
 	background: url(../img/starryPeople.jpg) no-repeat center center;;
  	padding: 1px;
  	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	height: 66vh;
	align-items: center;
	justify-content: center;
	padding-right: 50px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40vw;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container {
    padding: 2px 16px;
    color: black;
}

.form-group{
  border: none;
  border-radius: 0; 
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .form-group{ 
    border: none;
    border-radius: 0; 
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }

/*Resume*/

.fullRes {
	display: inline-block;
	padding: 15px 25px;
	color: white;
	border: solid 1px white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing:1px;
}

/* Make the nav bar scroll to headline */
.anchor {
	display: block;  
	position: relative;
	top: -52px;
	visibility: hidden;
}

.resume {
	color: white;
	padding: 30px;
}

.skills {
	margin-top: 30px;
	color: white;
	font-size: 24px;
}

.icon {
	color: white;
	padding: 30px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
}

.colorIcon {
	color: white;
}


#about { 
	background-color: black;
}

#portfolio {
	background-color: #2F2F4F;
	padding: 30px;
}
#contact {
	background-color: black;
}

/* #mainNav tags adapted from "startbootstrap-freelancer" */
#mainNav {
  font-weight: 200;
  text-transform: uppercase;
  border: none;
  background-color: black;
} 
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;  
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: white; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18BC9C;
  outline: none; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: white; 
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: white;
  border-color: white; 
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: white;
  border-color: #18BC9C;
  background-color: #18BC9C; 
}

.big-header {
	font-size: 80px;
	overflow: hidden;
	white-space: nowrap;
	color: white;
}
.small-header {
	font-size: 30px;
	font-weight: 200px;
	color: white;
}

#profile-pic{
  width: 100%; 
  padding: 30px;
}

.break {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 50%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

#frontImage {
	margin: 40px;
	border-radius: 50%;
    border-color: red;
    color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {border-color:red; color: red;}
    25%  {border-color:yellow; color: yellow;}
    50%  {border-color:blue; color: blue;}
    75%  {border-color:green; color: green;}
    100% {border-color:red; color:;}
}

/* Standard syntax */
@keyframes example {
     0%   {border-color:red; color: red;}
    25%  {border-color:yellow; color: yellow;}
    50%  {border-color:blue; color: blue;}
    75%  {border-color:green; color: green;}
    100% {border-color:red; color:;}
}



